<li class="divider-vertical"></li>
<li id="next_info"><a href="/?next=<%= @next.video.vid %>&prev=<%= @entry.video.vid %>"><b id="time_in_words">Loading</b> <i id="video_title" class="hide"><%= @next.video.title %></i></a></li>
<li id="next_info_hover" class="hide"><a href="/?next=<%= @next.video.vid %>&prev=<%= @entry.video.vid %>"><b>Play Now </b><i id="video_title"><%= @next.video.title %></i></a></li>
