<div class="modal hide" id="modalSettings">
<div class="modal-header">
<h3>Settings</h3>
</div>
<div class="modal-body">
<% current_user.option.each do |option| %>
  <% opposite = current_user.option["#{option}"] == true %>
  <p "class="modalSettings"><img id="setting_<%= option %>_<%= current_user.option["#{option}"].to_s %>" src="/images/checked_<%= current_user.option["#{option}"].to_s %>.png" onClick="applySettings('<%= option[0] %>');"> <img class="hide" id="setting_<%= option %>_<%= current_user.option["#{option}"].to_s %>" src="/images/checked_<%= opposite.to_s %>.png" onClick="applySettings('<%= option[0] %>');"><%= option[0].humanize %></p>
<% end %>
</div>
<div class="modal-footer">
<p onClick="hideSettings();">Done</a>
</div>
</div>
