<div class="modal hide" id="modalSettings">
<div class="modal-header">
<h3>Settings</h3>
</div>
<div class="modal-body">
<% current_user.option.each do |option| %>
  <% opposite = current_user.option["#{option}"] == true %>
  <div class="modalSettings" data-option="<%= option[0] %>">
    <i id="setting_<%= option[0] %>_<%= option[1].to_s %>" class="<%= option[1] == true ? "icon-thumbs-up shown" : "icon-thumbs-up hide" %>"></i>
    <i id="setting_<%= option[0] %>_<%= option[1].to_s %>" class="<%= option[1] == true ? "icon-thumbs-down hide" : "icon-thumbs-down shown" %>"></i>
    <%= option[0].humanize %>
  </div>
<% end %>
</div>
<div class="modal-footer">
<button class="btn btn-info" onClick="hideSettings();">Done</a>
</div>
</div>
