<div id="main">
  <% content_for :after_body do %>
    <%= render :partial => "youtube_api" %>
  <% end %>
  <% content_for :navbar_left do %>
    <%= render :partial => "current_info" %>
    <% if current_user.option["show_comments"] == true %>
      <%= render :partial => "comments" %>
    <% end %>
    </ul>
  <% end %>
  <% content_for :navbar_right do %>
    <%= render :partial => "next_info" %>
  <% end %>
  <%= render :partial => "settings" %>
  <div id="player"></div>
</div>
<script>
  var current_vid = "<%= @entry.video.vid %>";
  var next_vid = "<%= @next.video.vid %>";
  var navBarIndex_navdata = 0;
  var navBarIndex_centernavdata = 0;
  function navBarInfo(info) {
    myIndex = "navBarIndex_"+info;
      if (window[myIndex] > 0) {
        b = "#" + info + "_"+(window[myIndex] - 1);
        $(b).fadeOut("slow");
      }
      a = "#" + info + "_"+window[myIndex];
      setTimeout(function(){$(a).fadeIn("slow");},2000);
      window[myIndex] = window[myIndex] + 1;
      if (info == "navdata") {
        data_c = <%= @data.count+1 %>;
      }
      if (info == "centernavdata") {
        data_c = <%= @entry.video.comment_count %>;
      }
      if (window[myIndex] > data_c) {
        window[myIndex] = 0;
      }
  };
   <% if current_user.option["show_comments"] == true %>
      setTimeout(function() {
        $("#navdata_0").fadeOut("slow");
        },8000);
     setInterval(function(){navBarInfo("centernavdata");}, 6000);
  <% else %>
  setInterval(function(){navBarInfo("navdata");}, 6000);
  <% end %>
 
  function myHover(name, back) {
    c = "#"+name;
    d = "#"+name+"_hover";
    if (back == true) {
      setTimeout(function(){$(c).addClass("hide");},300);
      setTimeout(function(){$(d).removeClass("hide");},300);
    } else {
      setTimeout(function(){$(d).addClass("hide");},300);
      setTimeout(function(){$(c).removeClass("hide");},300);
    }
  }

  function activeHover(name) {
    name_d = name + "_hover";
    $("#"+name).hover(function(){myHover(name, true);}, function(){myHover(name, false);});
    $("#"+name_d).hover(function(){myHover(name, true);}, function(){myHover(name, false);});
  }
  activeHover("next_info");
  $('#modalSettings').on('hidden', function() {
    toggleVideo();
    });

  function fetchUser(manual) {
    if(typeof(manual)==='undefined') {
      $("#fetch_image_inactive").addClass("hide");
      $("#fetch_image_active").removeClass("hide");
    }
    $.get("/index.js?fetch=true", function(data) {
     if(typeof(manual)==='undefined') {
     $("#fetch_image_active").addClass("hide");
     $("#fetch_image_inactive").removeClass("hide");
     }
     console.log(data);
    });
  }
fetchUser(false);
</script>
